<div class='modal__poster-container'>
  {{#if poster_path}}
    <img
      class='modal__poster'
      srcset=' https://image.tmdb.org/t/p/w500{{poster_path}} 1x,
 				https://image.tmdb.org/t/p/w780{{poster_path}} 2x'
      src='https://image.tmdb.org/t/p/w500{{poster_path}}'
      alt='poster'
    />
  {{else}}
    <img src='{{own_poster_path}}' alt='photo' />
  {{/if}}
</div>

<div class='modal__data-container'>

  <h1 class='modal__main-title'>{{title}}</h1>

  <div class='modal__table-element'>
    <p class='modal__data-title'>Vote / Votes</p>
    <p><span
        class='modal__data-description modal__data-description--average'
      >{{vote_average}}</span>
      /
      <span class='modal__data-description modal__data-description--count'>{{vote_count}}</span></p>
  </div>
  <div class='modal__table-element'>
    <p class='modal__data-title'>Popularity</p>
    <p class='modal__data-description popularity-js'>{{popularity}}</p>
  </div>

  <div class='modal__table-element'>
    <p class='modal__data-title'>Original Title</p>
    <p class='modal__data-description modal__data-description--title'>{{original_title}}</p>
  </div>
  <div class='modal__table-element'>
    <p class='modal__data-title'>Genre</p>
    <p class='modal__data-description modal__data-description--genre genre-js'>{{genres}}</p>
  </div>
  <h2 class='modal__annotation-title'>About</h2>

  <p class='modal__annotation-description'>{{overview}}</p>

  <div class='modal__buttons-container'>
    <button type='button' class='modal__watch-list' style='cursor: pointer;'>ADD TO WATCHED</button>
    <button type='button' class='modal__queue-list' style='cursor: pointer;'>ADD TO QUEUE</button>
  </div>

</div>